<div class="container">
    
    <div class="table-wrapper" *ngIf="coursesData.length > 0; else nocourse">
      <table class="table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th style="width: 25%;">Description</th>
            <th>Price</th>
            <th>Buy Now</th>
            <th>Add to Cart</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of coursesData">
            <td>{{ course.courseName }}</td>
            <td>{{ course.startDate }}</td> 
            <td>{{ course.endDate }}</td> 
            <td>{{ course.description }}</td> 
            <td>{{ course.price }}</td>
            <td><button (click)="buyNow(course.courseName)">Buy Now</button></td>
            <td><button (click)="addToCart(course.courseName)">Add to Cart</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #nocourse> 
      <p>No courses added yet!!</p>
    </ng-template>
  </div>
  