<div class="container">
    
    <div class="table-wrapper" *ngIf="myCourses.length > 0; else nocourse">
      <table class="table">
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th style="width: 25%;">Description</th>
            <th>Price</th>
           
            <th>Check Out</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of myCourses">
            <td>{{ course.courseTitle }}</td>
            <td>{{ course.startDate }}</td> 
            <td>{{ course.endDate }}</td> 
            <td>{{ course.desc }}</td> 
            <td>{{ course.price }}</td>
            
            <td><button (click)="checkOut(course.courseTitle)" [disabled]="course.status=='PURCHASED'">Buy Now</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <ng-template #nocourse> 
      <p>No courses added yet!!</p>
    </ng-template>
  </div>
  